{% extends "base.html" %}
{% block content %}
{% load static %}
<section class="service" id="service">
    <div class="container">

      <p class="section-subtitle">Our Services</p>

      <h2 class="h2 section-title">Our Main Focus</h2>

      <ul class="service-list">


        <li>
          <div class="service-card">

            <div class="card-icon">
              <img src="{% static 'images/service-2.png' %}" alt="Service icon">
            </div>

            <h3 class="h3 card-title">
              <a href="#">Find a home</a>
            </h3>

            <p class="card-text">
              over 1 million+ homes available on the website, we can match you with a place you will want
              to call home.
            </p>

            <a href="{% url 'listings' %}" class="card-link">
              <span>Find A Home</span>

              <ion-icon name="arrow-forward-outline"></ion-icon>
            </a>

          </div>
        </li>

        <li>
          <div class="service-card">

            <div class="card-icon">
              <img src="{% static 'images/service-3.png' %}" alt="Service icon">
            </div>

            <h3 class="h3 card-title">
              <a href="{% url 'users:login' %}">list a home</a>
            </h3>

            <p class="card-text">
              over 1 million+ homes for sale on the website, we can help you sell yours. Join us today.
            </p>

            <a href="{% url 'users:login' %}" class="card-link">
              <span>List A Home</span>

              <ion-icon name="arrow-forward-outline"></ion-icon>
            </a>

          </div>
        </li>

      </ul>

    </div>
  </section>
  {% endblock %}